<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/adminLayout}">
<th:block layout:fragment="adminContent">

<section id="admin_product">
        <div class="inner">
            <div class="title">
                <h2>상품관리</h2>
                <button>
                    <a href="/admin/addProduct">상품등록</a>
                </button>
            </div>

            <div class="box01">
                <ul>
                    <li>
                        전체상품 <span th:text="${totalCount}"></span>건
                    </li>
                    <li>
                        판매중 <span th:text="${onSaleCount}"></span>건
                    </li>
                    <li>
                        판매중지 <span th:text="${offSaleCount}"></span>건
                    </li>
                    <li>
                        품절 <span th:text="${soldOutCount}"></span>건
                    </li>
                </ul>
            </div>

            <div class="box02">
                <div class="status">
                    <span>게시상태</span>
                    <div class="buttons">
                        <button class="statusBtn" value="전체상태">전체상태</button>
                        <button class="statusBtn" value="판매중">판매중</button>
                        <button class="statusBtn" value="판매중지">판매중지</button>
                        <button class="statusBtn" value="품절">품절</button>
                    </div>
                </div>
                <div class="sort">
                    <span>분류</span>
                    <div class="buttons">
                        <button class="categoryBtn" value="전체카테고리">전체카테고리</button>
                        <button class="categoryBtn" value="봄과일">봄과일</button>
                        <button class="categoryBtn" value="여름과일">여름과일</button>
                        <button class="categoryBtn" value="가을과일">가을과일</button>
                        <button class="categoryBtn" value="겨울과일">겨울과일</button>
                    </div>
                </div>
                <div class="search">
                    <span>검색</span>
                        <input id="searchCond" type="text" placeholder="상품명 검색">
                        <div class="buttons">
                            <button id="searchBtn">검색</button>
                        </div>
                        <input type="hidden" id="searchCondHid" name="searchCond">
                </div>
            </div>

            <div class="box03">
                <div class="left">
                    <span class="margin">검색결과 <span class="bold" th:text="${pageInfo.total}"></span>건</span>
                    <button class="selectStopSaleBtn">선택 판매중지</button>
                    <button class="selectDeleteBtn">선택삭제</button>
                </div>

                <div class="right">
                    <select id="pageSizeSelect" name="howmany">
                        <option value="10">10개씩 보기</option>
                        <option value="30">30개씩 보기</option>
                        <option value="50">50개씩 보기</option>
                        <option value="100">100개씩 보기</option>
                    </select>

                    <button id="excelDownloadBtn">
                        <span class="material-symbols-outlined">description</span>
                        <span>엑셀 다운로드</span>
                    </button>
                </div>
            </div>

            <div class="box04">
                <table class="product-table">
                    <caption class="hidden">상품관리</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                <input id="allCheck" type="checkbox">
                            </th>
                            <th scope="col">번호</th>
                            <th scope="col">상태</th>
                            <th scope="col">분류</th>
                            <th scope="col">상품명</th>
                            <th scope="col">상품금액</th>
                            <th scope="col">할인율</th>
                            <th scope="col">찜 수</th>
                            <th scope="col">결제횟수</th>
                            <th scope="col">리뷰수</th>
                            <th scope="col">등록일</th>
                            <th scope="col">상품수정</th>
                            <th scope="col">판매중지</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product, productStat : ${pageInfo.list}">
                            <td>
                                <input class="pageChk" type="checkbox">
                            </td>
                            <td th:text="${(totalCount - ((pageInfo.pageNum - 1) * pageInfo.pageSize) - (productStat.index))}"></td>
                            <td class="product_Status" th:text="${product.productSaleStatus}"></td>
                            <td>
                                <span th:switch="${product.categoryId}">
                                    <span th:case="1">봄과일</span>
                                    <span th:case="2">여름과일</span>
                                    <span th:case="3">가을과일</span>
                                    <span th:case="4">겨울과일</span>
                                </span>
                            </td>
                            <td th:text="${product.productName}"></td>
                            <td th:text="|${#numbers.formatInteger((product.productPrice * (1 - (product.productDiscount / 100.0))), 3, 'COMMA')}원|"></td>
                            <td th:if="${product.productDiscount} == 0">-</td>
                            <td th:if="${product.productDiscount} != 0" th:text="${product.productDiscount + '%'}"></td>
                            <td name="찜수">-</td>
                            <td name="결제횟수">-</td>
                            <td name="리뷰수">-</td>
                            <td th:text="${#dates.format(product.productCreatedAt, 'yyyy.MM.dd')}"></td>
                            <td>
                                <button class="editBtn" th:value="${product.productId}">수정</button>
                            </td>
                            <td>
                                <button class="stopSaleBtn" th:value="${product.productId}">중지</button>
                                <span class="updateTime" style="display: none;"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                <a th:if="${pageInfo.hasPreviousPage}"
                   th:href="@{/admin/product(pageNum=${pageInfo.prePage}, pageSize=${pageInfo.pageSize})}" class="prev">
                    <span class="material-symbols-outlined">chevron_left</span>
                </a>

                <p class="numbers">
                    <th:block th:each="i : ${#numbers.sequence(1, pageInfo.pages)}">
                        <a th:href="@{/admin/product(pageNum=${i}, pageSize=${pageInfo.pageSize})}"
                           th:text="${i}" th:style="${i == pageInfo.pageNum} ? 'font-weight: bold; font-size: 16px;' : ''"></a>
                    </th:block>
                </p>

                <a th:if="${pageInfo.hasNextPage}"
                   th:href="@{/admin/product(pageNum=${pageInfo.nextPage}, pageSize=${pageInfo.pageSize})}" class="next">
                    <span class="material-symbols-outlined">chevron_right</span>
                </a>
            </div>
        </div>
    </section>

    <!--    모달창 -->
    <div class="txt05" style="display: none;">
        <div class="inner">
            <h4>알림</h4>
            <h5><br>
            </h5>
            <a>확인</a>
        </div>
    </div>
</th:block>
</html>