<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/adminLayout}">
<th:block layout:fragment="adminContent">

<section id="admin_product">
        <div class="inner">
            <div class="title">
                <h2>상품관리</h2>
                <button>
                    <a href="/admin/addProduct">상품등록</a>
                </button>
            </div>

            <div class="box01">
                <ul>
                    <li>
                        전체상품 <span th:text="${pageInfo.total}"></span>건
                    </li>
                    <li>
                        판매중 <span th:text="${onSaleCount}"></span>건
                    </li>
                    <li>
                        판매중지 <span th:text="${offSaleCount}"></span>건
                    </li>
                    <li>
                        품절 <span th:text="${soldOutCount}"></span>건
                    </li>
                </ul>
            </div>

            <div class="box02">
                <div class="status">
                    <span>게시상태</span>
                    <div class="buttons">
                        <button>판매중</button>
                        <button>판매중지</button>
                        <button>품절</button>
                    </div>
                </div>
                <div class="sort">
                    <span>분류</span>
                    <div class="buttons">
                        <button>봄과일</button>
                        <button>여름과일</button>
                        <button>가을과일</button>
                        <button>겨울과일</button>
                    </div>
                </div>
                <div class="search">
                    <span>검색</span>
                    <input type="text" placeholder="상품명 검색">
                    <div class="buttons">
                        <button>검색</button>
                    </div>
                </div>
            </div>

            <div class="box03">
                <div class="left">
                    <span class="margin">검색결과 <span class="bold" th:text="${pageInfo.pageSize}"></span>건</span>
                    <button>선택 판매중지</button>
                    <button>선택삭제</button>
                </div>

                <div class="right">
                    <select id="pageSizeSelect" name="howmany">
                        <option value="10">10개씩 보기</option>
                        <option value="30">30개씩 보기</option>
                        <option value="50">50개씩 보기</option>
                        <option value="100">100개씩 보기</option>
                    </select>

                    <button id="excelDownloadBtn">
                        <span class="material-symbols-outlined">description</span>
                        <span>엑셀 다운로드</span>
                    </button>
                </div>
            </div>

            <div class="box04">
                <table class="product-table">
                    <caption class="hidden">상품관리</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" checked>
                            </th>
                            <th scope="col">번호</th>
                            <th scope="col">상태</th>
                            <th scope="col">분류</th>
                            <th scope="col">상품명</th>
                            <th scope="col">상품금액</th>
                            <th scope="col">할인율</th>
                            <th scope="col">찜 수</th>
                            <th scope="col">결제횟수</th>
                            <th scope="col">리뷰수</th>
                            <th scope="col">등록일</th>
                            <th scope="col">상품수정</th>
                            <th scope="col">판매중지</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product, productStat : ${pageInfo.list}">
                            <td>
                                <input type="checkbox">
                            </td>
                            <td th:text="${product.productId}"></td>
                            <td th:text="${product.productSaleStatus}"></td>
                            <td>
                                <span th:switch="${product.categoryId}">
                                    <span th:case="1">봄과일</span>
                                    <span th:case="2">여름과일</span>
                                    <span th:case="3">가을과일</span>
                                    <span th:case="4">겨울과일</span>
                                </span>
                            </td>
                            <td th:text="${product.productName}"></td>
                            <td class="productPrice" th:text="${product.productPrice}" th:attr="data-price=${product.productPrice}" th:data-index="${productStat.index}"></td>
                            <td th:if="${product.productDiscount} == 0">-</td>
                            <td th:if="${product.productDiscount} != 0" th:text="${product.productDiscount + '%'}"></td>
                            <td name="찜수">-</td>
                            <td name="결제횟수">-</td>
                            <td name="리뷰수">-</td>
                            <td th:text="${#dates.format(product.productCreatedAt, 'yyyy.MM.dd')}"></td>
                            <td>
                                <button>수정</button>
                            </td>
                            <td>
                                <button class="stopSaleBtn" th:data-product-id="${product.productId}">중지</button>
                                <span class="updateTime" style="display: none;"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                <a th:if="${pageInfo.hasPreviousPage}"
                   th:href="@{/admin/product(pageNum=${pageInfo.prePage}, pageSize=${pageInfo.pageSize})}"
                   class="prev">
                    <span class="material-symbols-outlined">chevron_left</span>
                </a>

                <p class="numbers">
                    <th:block th:each="i : ${#numbers.sequence(1, pageInfo.pages)}">
                        <a th:href="@{/admin/product(pageNum=${i}, pageSize=${pageInfo.pageSize})}"
                           th:text="${i}" th:if="${i != pageInfo.pageNum}"></a>
                        <a th:text="${i}" th:classappend='bold' th:if="${i == pageInfo.pageNum}"></a>
                    </th:block>
                </p>

                <a th:if="${pageInfo.hasNextPage}"
                   th:href="@{/admin/product(pageNum=${pageInfo.nextPage}, pageSize=${pageInfo.pageSize})}" class="next">
                    <span class="material-symbols-outlined">chevron_right</span>
                </a>
            </div>
        </div>
    </section>
</th:block>
</html>