<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerLayout">
    <footer id="footer">
        <div class="inner">
            <h1>
                <img src="/user/img/푸릇푸릇 로고.png" alt="로고">
            </h1>
            <ul>
                <li>
                    <a href="#">Policy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">Customer</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>
            </ul>

            <address>
                <span>(주)콜론비</span>
                <br>
                사업자등록번호 123-12-12345
                <br />
                통신판매업 신고번호 제2023-서울-1234호
                <br>
                대표 한동윤 | 개인정보 책임자 한동윤
                <br>
                서울 특별시 강남구 강남대로 123
                <br>
                <br>
                고객센터: 02-1544-1234
                <br>
                제휴문의: echel@colon-b.com
            </address>

            <p>
                Copyright &copy; 2023 Colon:B. ALL Right reserved.
            </p>
        </div>
    </footer>
</th:block>
</html>