<!DOCTYPE html>
<html lang="ko">
<th:block th:fragment="headerLayout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="/user/img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="/favicon.ico" />

    <!--비밀번호 보이기 감추기 버튼-->
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>
</head>

<!-- HEADER -->
<header id="header">
    <div class="inner">

        <a href="/" class="logo">
            <img src="/user/img/푸릇푸릇 로고.png" alt="logo"/>
        </a>

        <div class="sub-menu">
            <ul class="menu">
                    <li th:if="${session.loginUser == null}">
                        <a href="/login">Sign In</a>
                    </li>

                    <li th:if="${session.loginUser == null}">
                        <a href="/join">Join</a>
                    </li>

                    <li th:unless="${session.loginUser == null}">
                        <a href="#" id="userLogout">Logout</a>
                        <form id="userLogoutForm" action="/user/logout" method="post" style="display: none;"></form>
                    </li>

                <li>
                    <a href="javascript:void(0)">language</a>
                </li>

                <li th:unless="${session.loginUser == null}">
                    <button id="showNotifications" style="
                        border: black;
                        background: none;
                        height: 38px;
                        color: #6f6c06;">
                        <i class="fas fa-bell"></i>
                    </button>
                    <ol class="list-group list-group-numbered" id="notificationList" style="display: none; position: relative; z-index: 999;">
                        <li th:each="notification : ${notificationsList}" class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold" th:data-id="${notification.notificationsId}">답글알림</div>
                                <div th:text="${notification.notificationsMessage}"></div>
                            </div>
                            <span class="badge bg-primary rounded-pill" th:text="|약${notification.createdHours}시간 전|"></span>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>

        <ul class="main-menu">
            <li class="item">
                <div class="item__name">
                    <a href="/">HOME</a>
                </div>
            </li>

            <li class="item">
                <div class="item__name">
                    <a href="/user/search">상품소개</a>
                </div>
            </li>

            <li class="item">
                <div class="item__name">
                    <a href="/user/mypage">구매내역</a>
                </div>
            </li>

            <li class="item">
                <div class="item__name">
                    <a href="/user/mypage">마이페이지</a>
                </div>
            </li>

            <li class="item cart">
                <div class="item__name red">
                    장바구니
                    <span class="material-icons">
                            shopping_cart
                        </span>
                </div>
            </li>
        </ul>
    </div>
</header>
</th:block>
</html>
