<!DOCTYPE html>
<html lang="ko">
<th:block th:fragment="adminHeaderLayout">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="./img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/admin/css/style.css">
    <link rel="stylesheet" href="/admin/css/modal.css">

    <!-- CHART JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>
  </head>

  <!-- HEADER -->
  <header id="header">
    <div class="inner">

      <a href="/admin/dashboard" class="logo">
        <img src="/admin/img/푸릇푸릇 로고.png" alt="logo" />
      </a>

      <ul class="main-menu">
        <li class="item">
          <div class="item__name">
            <a href="/admin/dashboard">
              <span class="material-symbols-outlined">dashboard</span>
              대쉬보드</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="/admin/banner">
              <span class="material-symbols-outlined">photo_library</span>
              배너관리</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="/admin/product">
              <span class="material-symbols-outlined">shopping_cart</span>
              상품관리</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="../../../../../../Fruit-ADMIN-Publish-master/review.html">
              <span class="material-symbols-outlined">rate_review</span>
              리뷰관리</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="../../../../../../Fruit-ADMIN-Publish-master/member.html">
              <span class="material-symbols-outlined">groups</span>
              회원관리</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="../../../../../../Fruit-ADMIN-Publish-master/notification.html">
              <span class="material-symbols-outlined">notifications</span>
              알림관리</a>
          </div>
        </li>
      </ul>

    </div>
  </header>
</th:block>
</html>