<!DOCTYPE html>
<html lang="ko">
<th:block th:fragment="adminHeaderLayout">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="./img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="./favicon.ico" />

    <!--브라우저 스타일 초기화-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />

    <!--Google Fonts - 나눔고딕-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <!-- Google Fonts - Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">


    <!--Google Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="./css/style.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
            integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
            integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>
  </head>

  <!-- HEADER -->
  <header id="header">
    <div class="inner">

      <a href="/admin/dashboard" class="logo">
        <img src="/admin/img/푸릇푸릇 로고.png" alt="logo" />
      </a>

      <ul class="main-menu">
        <li class="item">
          <div class="item__name">
            <a href="/admin/dashboard">
              <span class="material-symbols-outlined">dashboard</span>
              대쉬보드</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="/admin/banner">
              <span class="material-symbols-outlined">photo_library</span>
              배너관리</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="/admin/product">
              <span class="material-symbols-outlined">shopping_cart</span>
              상품관리</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="../../../../../../Fruit-ADMIN-Publish-master/review.html">
              <span class="material-symbols-outlined">rate_review</span>
              리뷰관리</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="../../../../../../Fruit-ADMIN-Publish-master/member.html">
              <span class="material-symbols-outlined">groups</span>
              회원관리</a>
          </div>
        </li>

        <li class="item">
          <div class="item__name">
            <a href="../../../../../../Fruit-ADMIN-Publish-master/notification.html">
              <span class="material-symbols-outlined">notifications</span>
              알림관리</a>
          </div>
        </li>
      </ul>

    </div>
  </header>
</th:block>
</html>