<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

    <div id="cart" th:data-session="${session.loginUser}" >
        <div class="inner">

            <h2> 장바구니 </h2>

            <div class="txt">
                <div class="left">
                    <span>전체
                        <span th:if="${session.loginUser != null}" class="orange" th:text="${cartAndImages.size()}"></span>
                        <span th:if="${session.loginUser == null}" id="localCartCount" class="orange"></span>
                        개</span>
                </div>

                <div class="right">
                    <p>01 장바구니</p>
                    <span class="material-symbols-outlined">chevron_right</span>
                    <p>02 주문/결제</p>
                    <span class="material-symbols-outlined">chevron_right</span>
                    <p>03 결제완료</p>
                </div>
            </div>

            <table>
                <tr class="title">
                    <th>
                        <input type="checkbox" checked>
                    </th>
                    <th scope="col">상품정보</th>
                    <th scope="col">상품금액</th>
                    <th scope="col">상품별 할인</th>
                </tr>

                <tbody id="showCart">
                    <tr th:each="product : ${cartAndImages}">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <div class="td_wrap">
                                <img th:src="${product.imageUrl}" th:alt="${product.productName}">

                                <div class="txt">
                                    <span th:text="${product.productName}">상품이름</span>
                                    <span>
                                        <button class="increaseProductCnt">+</button>
                                        <button class="productCnt" th:data-cart-id="${product.cartId}" th:text="${product.productCount}" th:value="${product.productCount}">상품수량</button>
                                        <button class="decreaseProductCnt" style="display: none;">-</button>
                                    </span>
                                </div>

                                <div class="price">
                                    <span th:if="${product.productSaleStatus != '품절'}" th:text="|${#numbers.formatInteger((product.productPrice), 0, 'COMMA')}원|"></span>
                                    <span th:if="${product.productSaleStatus == '품절'}" text="품절" style="color: red"></span>
                                    <button class="delCartProduct">x</button>
                                </div>
                            </div>
                        </td>

                        <td class="sumPrice" th:data-cart-price="${product.productPrice}" th:text="|${#numbers.formatInteger((product.productPrice * product.productCount), 0, 'COMMA')}원|">상품금액</td>
                        <td class="discountRate" th:if="${product.productDiscount} > 0" th:text="|${product.productDiscount}%|">할인율</td>
                        <td th:if="${product.productDiscount} == 0"></td>
                    </tr>
                </tbody>

                <tr class="lastTr">
                    <td scope="col" colspan="4" class="lastTrTd">
                        장바구니에 담긴 상품은 최대 15일까지 보관되며 종료되거나 매진될 경우 자동으로 삭제됩니다. <br>
                        적립예정금액은 결제 시 타 쿠폰을 적용하거나 추가 할인을 받을 경우 실제 적립 받는 금액과 달라질 수 있습니다.
                    </td>
                </tr>

                <tr class="totalPrice">
                    <td colspan="2" rowspan="3">
                        <span class="total">총 주문 금액</span>
                    </td>

                    <td>
                        <span class="total02">총 상품금액</span>
                    </td>

                    <td>
                        <span id="cartTotalPrice">0원</span>
                    </td>
                </tr>

                <tr class="totalPrice">
                    <td>
                        <span class="total02">즉시 할인 금액</span>
                    </td>

                    <td>
                        <span id="cartTotalDiscount">-4,500원</span>
                    </td>
                </tr>

                <tr class="totalPrice">
                    <td class="br">
                        <span class="total02">배송비</span>
                        <br>
                        <span class="small">(50,000원 이상 무료배송)</span>
                    </td>

                    <td>
                        <span id="deliveryFee">무료</span>
                    </td>
                </tr>

                <tr class="totalPrice">
                    <td colspan="2" class="lastTotalPrice">
                        <span class="total">결제 예상 금액</span>
                    </td>

                    <td class="lastTotalPrice">

                    </td>

                    <td class="lastTotalPrice">
                        <span id="payPrice" class="orange">115,500원</span>
                    </td>
                </tr>
            </table>

            <div class="buttons">
                <button id="goHomeBtn">쇼핑계속하기</button>
                <button th:if="${session.loginUser != null}" id="goPaymentBtn">구매하기</button>
                <button th:if="${session.loginUser == null}"id="redirectLoginBtn">구매하기</button>
            </div>
        </div>
    </div>

</th:block>
</html>