<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

<section id="detail">
    <div class="inner detail__inner">
        <form th:object="${productDetailForm}">
            <div class="box01">
                <div class="left">
                    <img th:src="*{imageUrl}">
                </div>

                <div class="right">

                    <div class="right__txt01">
                        <h2 th:text="*{productName}"></h2>
                        <span class="material-icons red__heart">favorite</span>
                    </div>

                    <div class="right__txt02">
                        <div class="right__txt02__01">
                            <span th:if="*{productDiscount > 0}" th:text="|*{productDiscount}%|"></span>
                            <span th:if="*{productDiscount == 0}" text="-"></span>

                            <p th:if="*{productDiscount > 0}">
                                <span th:text="|*{productPrice}원|">상품가격</span>
                                <span th:text="|${#numbers.formatInteger((productDetailForm.productPrice * (1 - (productDetailForm.productDiscount / 100.0))), 3, 'COMMA')}원|">할인 적용 가격</span>
                            </p>

                            <p th:if="*{productDiscount == 0}">
                                <span text="-" hidden="hidden">상품가격</span>
                                <span th:text="|*{productPrice}원|">할인 적용 가격</span>
                            </p>
                        </div>

                        <div class="right__txt02__02">
                            <p>배송비 3,000원
                                <span class="free">(50,000원이상 결제시 무료배송)</span>
                            </p>
                        </div>
                    </div>

                    <div class="right__txt03">
                        <!-- 장바구니 클릭 시 수량 증감버튼 -->
                        <div class="cart">
                            <div class="inner">
                                <button>-</button>
                                <input type="text" value="2">
                                <button>+</button>
                            </div>
                            <span>남은수량 999개</span>
                        </div>

                        <div class="right__txt03__01">
                            <span>총 상품 금액</span>
                            <span>54,000원</span>
                        </div>

                        <div class="right__txt03__02">
                            <span>배송비</span>
                            <span>무료</span>
                        </div>

                    </div>

                    <div class="right__buttons">
                        <button>장바구니</button>
                        <button>바로구매</button>
                    </div>

                    <br>

                    <div id="aside">
                        <div class="sidebar">
                            <ul>

                                <!-- 마이페이지 -->
                                <li>
                                    <a href="/user/mypage" th:unless="${session.loginUser == null}">
                                        <span class="material-symbols-outlined">person</span>
                                        <p th:text="${session.loginUser.getName()} + 님"></p>
                                    </a>

                                    <a href="#" th:if="${session.loginUser == null}">
                                        <span class="material-symbols-outlined">person</span>
                                        <p>손님</p>
                                    </a>

                                    <div class="line"></div>
                                </li>

                                <!-- 장바구니 -->
                                <li class="right__cart">
                                    <a href="#">
                                        <span class="material-symbols-outlined">shopping_cart</span>
                                        <p>장바구니</p>
                                        <div class="cart__count">5</div>
                                    </a>
                                </li>

                                <!-- 찜 -->
                                <li class="right__favorite">
                                    <a href="#">
                                        <span class="material-icons">favorite</span>
                                        <p>찜</p>
                                        <div class="favorite__count">3</div>
                                    </a>

                                    <div class="line"></div>
                                </li>

                                <!-- 최근 본 상품 -->
                                <li class="last">
                                    <a href="#">
                                        <p>최근 본 상품</p>
                                        <tr th:each="imageUrl : ${recentProducts}">
                                            <td><img th:src="${imageUrl}"/></td>
                                        </tr>
                                        <p id="TopBtn">맨위로</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- 장바구니에 담겼습니다. 모달 창 -->
                    <div class="txt04 right__modal" style="display: none;">
                        <div class="inner">

                            <h4>알림</h4>

                            <h5>
                                <span>장바구니에 담겼습니다.</span>

                                <div class="buttons">
                                    <a href="./detail.html">
                                        <button>계속 쇼핑하기</button>
                                    </a>

                                    <a href="#">
                                        <button>장바구니로 이동</button>
                                    </a>
                                </div>

                            </h5>

                        </div>
                    </div>

                </div>
            </div>

            <div class="box02">
                <a href="./detail.html">
                    <div class="detailed__info">
                        <p>상세정보</p>
                    </div>
                </a>


                <a href="./review.html">
                    <div class="review">
                        <p>상품리뷰</p>
                    </div>
                </a>


                <a href="#">
                    <div class="question">
                        <p>상품문의</p>
                    </div>
                </a>

            </div>

            <div class="box03">
                <br>
                <div th:utext="*{productDescription}"></div>
            </div>
        </form>
    </div>
</section>

</th:block>
</html>