<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

    <!-- VISUAL -->
    <section id="visual">
        <div class="promotion">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/user/img/1.png" alt="1번 슬라이드" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/user/img/2.png" alt="2번 슬라이드" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/user/img/3.png" alt="3번 슬라이드" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/user/img/4.png" alt="4번 슬라이드" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/user/img/5.png" alt="5번 슬라이드" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/user/img/6.png" alt="6번 슬라이드" />
                    </div>
                </div>
            </div>

            <!-- 슬라이드 좌측, 우측 화살표 -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>


            <!-- 슬라이드 페이지버튼 -->
            <div class="swiper-pagination"></div>

        </div>
    </section>

    <!-- 검색창 -->
    <section id="search">
        <div class="inner">

            <!-- 검색창 -->
            <input id="searchCond-user" type="text" placeholder="# 검색어를 입력해주세요.">

            <!-- 돋보기 아이콘 -->
            <span id="searchCond-userBtn" class="material-icons">search </span>

            <!-- 필터 -->
            <div class="buttons">
                <button class="categoryBtn-user" value="전체카테고리">전체카테고리</button>
                <button class="categoryBtn-user" value="봄과일">봄과일</button>
                <button class="categoryBtn-user" value="여름과일">여름과일</button>
                <button class="categoryBtn-user" value="가을과일">가을과일</button>
                <button class="categoryBtn-user" value="겨울과일">겨울과일</button>
            </div>

        </div>
    </section>

    <div id="aside">
        <div class="sidebar">
            <ul>

                <!-- 마이페이지 -->
                <li>
                    <a href="/user/mypage" th:unless="${session.loginUser == null}">
                        <span class="material-symbols-outlined">person</span>
                        <p th:text="${session.loginUser.getName()} + 님"></p>
                    </a>
                    <a href="#" th:if="${session.loginUser == null}">
                        <span class="material-symbols-outlined">person</span>
                        <p>손님</p>
                    </a>
                    <div class="line"></div>
                </li>

                <!-- 장바구니 -->
                <li class="right__cart">
                    <a href="#">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <p>장바구니</p>
                        <div class="cart__count">5</div>
                    </a>
                </li>

                <!-- 찜 -->
                <li class="right__favorite">
                    <a href="#">
                        <span class="material-icons">favorite</span>
                        <p>찜</p>
                        <div th:unless="${session.loginUser == null}" class="favorite__count" th:text="${likesCount}"></div>
                        <div th:if="${session.loginUser == null}"></div>
                    </a>
                    <div class="line"></div>
                </li>

                <!-- 최근 본 상품 -->
                <li class="last">
                    <a href="#">
                        <p>최근 본 상품</p>
                        <tr th:each="product : ${recentProducts}">
                            <a th:href="@{/user/detail/{id}(id=${product.getProductId()})}">
                                <td><img th:src="${product.getImageUrl()}"/></td>
                            </a>
                        </tr>
                        <p id="TopBtn" style="text-align: center">맨위로</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 상품리스트 -->
    <section id="products">
        <div class="inner">
            <ul>
                <!-- 상품 리스트 동적 생성 -->
                <th:block th:each="product, productStat : ${pageInfo.list}">
                    <li>
                        <a id="recentProductBtn" th:data-product-id="${product.productId}" th:href="@{/user/detail/{id}(id=${product.productId})}">
                            <img th:src="${product.imageUrl}">
                            <div class="txt">
                                <div class="title">
                                    <span th:text="${product.productName}">상품명</span>
                                </div>
                                <div class="price" th:text="|${#numbers.formatInteger((product.productPrice * (1 - (product.productDiscount / 100.0))), 3, 'COMMA')}원|"></div>
                            </div>
                        </a>
                        <div class="icons">
                            <button th:if="${session.loginUser == null}" class="material-icons red__heart" disabled>favorite</button>
                            <button th:if="${session.loginUser != null}"
                                    th:classappend="${product.liked} ? 'filled' : ''"
                                    th:data-product-id="${product.productId}"
                                    th:data-user-id="${session.loginUser.userIdNo}" class="material-icons red__heart"
                                    th:value="${product.liked} ? '1' : '0'">favorite</button>
                            <a class="material-symbols-outlined addCartBtn"
                               data-btn-status="0"
                               th:data-product-id="${product.productId}"
                               th:data-user-id="${session.loginUser != null ? session.loginUser.userIdNo : 0}">shopping_cart</a>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>

        <div class="user-pagination">
            <a th:if="${pageInfo.hasPreviousPage}"
               th:href="@{/(pageNum=${pageInfo.prePage}, pageSize=${pageInfo.pageSize})}" class="prev">
                <span class="material-symbols-outlined">chevron_left</span>
            </a>

            <p class="numbers">
                <th:block th:each="i : ${pageInfo.navigatepageNums}">
                    <a th:href="@{/(pageNum=${i}, pageSize=${pageInfo.pageSize})}"
                       th:text="${i}" th:style="${i == pageInfo.pageNum} ? 'font-weight: bold; font-size: 16px;' : ''"></a>
                </th:block>
            </p>

            <a th:if="${pageInfo.hasNextPage}"
               th:href="@{/(pageNum=${pageInfo.nextPage}, pageSize=${pageInfo.pageSize})}" class="next">
                <span class="material-symbols-outlined">chevron_right</span>
            </a>
        </div>

        <!-- 장바구니에 담겼습니다. 모달 창 -->
        <div class="txt04 right__modal" style="display: none;">
            <div class="inner">
                <h4>알림</h4>
                <h5>
                    <span>장바구니에 담겼습니다.</span>
                    <div class="buttons cart-modal">
                        <a id="closeCartModal">
                            닫기
                        </a>
                        <a href="/user/cart">
                            장바구니로 이동
                        </a>
                    </div>
                </h5>
            </div>
        </div>
    </section>
</th:block>

</html>