<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <div id="mypage">
        <div class="inner">
            <h2> 마이페이지 </h2>

            <div class="tab__menu">
                <a href="#">
                    <div class="history">
                        <p>구매내역</p>
                    </div>
                </a>

                <a href="/user/mypage/delivery">
                    <div class="delivery">
                        <p>배송지관리</p>
                    </div>
                </a>

                <a th:if="${loginMethod == '일반'}" href="/user/mypage/userinfo">
                    <div class="memberInfo">
                        <p>회원정보</p>
                    </div>
                </a>

                <a th:if="${loginMethod != '일반'}" href="/user/mypage/userinfo/edit">
                    <div class="memberInfo">
                        <p>회원정보</p>
                    </div>
                </a>
            </div>

            <div class="search__box">
                <div class="first">
                    <span>기간검색</span>

                    <div class="search__box__buttons">
                        <button class="durationBtn" data-click-cnt="0" value="1">1개월</button>
                        <button class="durationBtn" data-click-cnt="0" value="3">3개월</button>
                        <button class="durationBtn" data-click-cnt="0" value="6">6개월</button>
                        <button class="durationBtn" data-click-cnt="0" value="12">1년</button>
                        <button class="durationBtn" data-click-cnt="0" value="36">3년</button>
                    </div>

                    <div class="date">
                        <label for="date1">
                            <input type="date" id="date1">
                        </label>

                        <span>~</span>

                        <label for="date2">
                            <input type="date" id="date2">
                        </label>
                    </div>
                </div>

                <div class="second">
                    <select name="products" id="products">
                        <option>상품명</option>
                        <option>주문번호</option>
                    </select>

                    <label for="search">
                        <input id="searchText" type="text">
                    </label>

                    <button id="initBtn">초기화</button>

                    <button id="myPageSearchBtn">검색</button>
                </div>
            </div>


            <div class="history2">
                <h4>상품구매 내역</h4>

                <div class="history__line"></div>

                <div class="historyContents" th:if="${orderDetails.size != 0}">
                    <ul>
                        <li th:each="orderDetail : ${orderDetails.list}">
                            <div class="txt">
                                <span th:text="${orderDetail.orderNumber}">주문번호</span>
                                <span th:text="${#dates.format(orderDetail.orderDate, 'yyyy.MM.dd')}">주문날짜</span>
                            </div>

                            <div class="img">
                                <img th:src="${orderDetail.productImage}" th:alt="${orderDetail.productName}">
                                <div class="img__txt">
                                    <p th:text="${orderDetail.productName}">상품명</p>

                                    <div class="group">
                                        <span class="orange" th:text="|${#numbers.formatInteger(orderDetail.orderProductPrice, 3, 'COMMA')}원|">상품가격</span>
                                        <span th:text="|구매수량 ${orderDetail.orderProductCount}개|">구매수량</span>
                                    </div>

                                    <div class="group2">
                                        <p>배송지 확인
                                            <span class="material-symbols-outlined">double_arrow</span>
                                        </p>
                                    </div>

                                    <div class="deliveryInfo" style="display: none;">
                                        <br>
                                        <div style="border: 1px #000000 solid;background: #f7f5eb;padding: 8px;">
                                            <p th:text="|주문자 : ${orderDetail.receiverName}|"></p>
                                            <p th:text="|연락처 : ${#strings.substring(orderDetail.phoneNumber, 0, 3)}-${#strings.substring(orderDetail.phoneNumber, 3, 7)}-${#strings.substring(orderDetail.phoneNumber, 7)}|"></p>
                                            <p th:text="|주소 : ${orderDetail.address}|"></p>
                                            <p th:text="|배송요청사항 : ${orderDetail.orderRequired}|"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="buttons">
                                <button class="reAddToCartBtn"
                                        th:data-count="${orderDetail.orderProductCount}"
                                        th:data-product-id="${orderDetail.productId}"
                                        th:data-order-number="${orderDetail.orderNumber}">재구매</button>
                                <button th:if="${!orderDetail.isWrite}" class="writeReviewAtMyPage">리뷰작성</button>
                                <button th:if="${orderDetail.isWrite}" class="showReview" style="background-color: #f1dacb; color: #c56206">리뷰보기</button>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="historyContents" th:if="${orderDetails.size == 0}">
                    <div class="txt" style="text-align: center">
                        <span style="font-size: 20px">최근 주문/배송 조회 내역이 없습니다.</span>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <a th:if="${orderDetails.hasPreviousPage}"
                   th:href="@{/user/mypage/(pageNum=${orderDetails.prePage}, pageSize=${orderDetails.pageSize})}" class="prev">
                    <span class="material-symbols-outlined">chevron_left</span>
                </a>

                <p class="numbers">
                    <th:block th:each="i : ${orderDetails.navigatepageNums}">
                        <a th:href="@{/user/mypage/(pageNum=${i}, pageSize=${orderDetails.pageSize})}"
                           th:text="${i}" th:style="${i == orderDetails.pageNum} ? 'font-weight: bold; font-size: 16px;' : ''"></a>
                    </th:block>
                </p>

                <a th:if="${orderDetails.hasNextPage}"
                   th:href="@{/user/mypage/(pageNum=${orderDetails.nextPage}, pageSize=${orderDetails.pageSize})}" class="next">
                    <span class="material-symbols-outlined">chevron_right</span>
                </a>
            </div>

            <!-- 장바구니에 담겼습니다. 모달 창 -->
            <div class="txt04 right__modal add__cart" style="display: none;">
                <div class="inner">
                    <h4>알림</h4>
                    <h5>
                        <span>장바구니에 담겼습니다.</span>
                        <div class="buttons cart-modal">
                            <a id="closeCartModal">
                                닫기
                            </a>
                            <a href="/user/cart">
                                장바구니로 이동
                            </a>
                        </div>
                    </h5>
                </div>
            </div>

            <!-- 이미 장바구니에 있는 상품입니다. 모달 창 -->
            <div class="txt04 exist__mypage__cart" style="display: none;">
                <div class="inner">
                    <h4>알림</h4>
                    <h5>
                        <span>이미 장바구니에 있는 상품입니다.</span>
                        <div class="buttons cart-modal">
                            <a id="existCartModalClose">
                                닫기
                            </a>
                            <a href="/user/cart">
                                장바구니로 이동
                            </a>
                        </div>
                    </h5>
                </div>
            </div>


            <!-- 리뷰작성 모달 창 -->
            <div class="txt05" style="display: none;">
                <div class="inner">
                    <h4>알림</h4>

                    <h5>상품에 대한 리뷰를 남겨주세요.</h5>

                    <div class="input">
                        <input id="mypageReviewContent" type="text" placeholder="10자이상 500자 미만으로 작성해주세요.">
                        <span class="mypage__content__count">0/500</span>
                    </div>

                    <div class="buttons">
                        <button>작성취소</button>
                        <button>리뷰등록</button>
                    </div>
                </div>
            </div>

            <!-- 리뷰작성 취소. 모달 창 -->
            <div class="txt06" style="display: none;">
                <div class="inner">
                    <h4>알림</h4>

                    <h5>작성중인 내용이 모두 삭제됩니다. <br>
                        취소 하시겠습니까?
                    </h5>

                    <div class="buttons">
                        <button>취소하기</button>
                        <button>계속작성</button>
                    </div>
                </div>
            </div>

            <!-- 리뷰작성 완료. 모달 창 -->
            <div class="txt07" style="display: none;">
                <div class="inner">
                    <h4>알림</h4>

                    <h5>리뷰 작성이 완료 되었습니다.</h5>

                    <div class="buttons">
                        <button>확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="aside">
        <div class="sidebar">
            <ul>

                <!-- 마이페이지 -->
                <li>
                    <a href="/user/mypage" th:unless="${session.loginUser == null}">
                        <span class="material-symbols-outlined">person</span>
                        <p th:text="${session.loginUser.getName()} + 님"></p>
                    </a>
                    <a href="#" th:if="${session.loginUser == null}">
                        <span class="material-symbols-outlined">person</span>
                        <p>손님</p>
                    </a>
                    <div class="line"></div>
                </li>

                <!-- 장바구니 -->
                <li class="right__cart">
                    <a href="/user/cart">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <p>장바구니</p>
                        <div th:unless="${session.loginUser == null}" class="cart__count" th:text="${userCartsCount}"></div>
                        <div th:if="${session.loginUser == null}" id="localSideBarCartCount" th:data-login-user="${session.loginUser}" class="cart__count"></div>
                    </a>
                </li>

                <!-- 찜 -->
                <li class="right__favorite">
                    <a href="#">
                        <span class="material-icons">favorite</span>
                        <p>찜</p>
                        <div th:unless="${session.loginUser == null}" class="favorite__count" th:text="${likesCount}"></div>
                        <div th:if="${session.loginUser == null}"></div>
                    </a>
                    <div class="line"></div>
                </li>

                <!-- 최근 본 상품 -->
                <li class="last">
                    <a href="#">
                        <p>최근 본 상품</p>
                        <tr th:each="product : ${recentProducts}">
                            <a th:href="@{/user/detail/{id}(id=${product.getProductId()})}">
                                <td><img th:src="${product.getImageUrl()}"/></td>
                            </a>
                        </tr>
                        <p id="TopBtn" style="text-align: center">맨위로</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </th:block>
</html>