
.txt04 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7) fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt04 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.txt04 .inner h4 {
    width: 500px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 200px;
    font: 800 18px/2 "Nanum Gothic";
}
.txt04 .inner h5 {
    width: 500px;
    height: 200px;
    background-color: #fff;
    text-align: center;
    padding: 45px;
    font: 500 18px/2 "Nanum Gothic";
}
.txt04 .inner h5 a {
    display: block;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    border-top: none;
    width: 120px;
    color: #fff;
    padding: 5px 0px;
    margin: 0 auto;
    margin-top: 30px;
    font: 500 16px/2 "Nanum Gothic";
}

.txt05 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7) fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt05 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.txt05 .inner h4 {
    width: 500px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 200px;
    font: 800 18px/2 "Nanum Gothic";
}
.txt05 .inner h5 {
    width: 500px;
    height: 200px;
    background-color: #fff;
    text-align: center;
    padding: 45px;
    font: 500 18px/2 "Nanum Gothic";
}
.txt05 .inner h5 a {
    display: block;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    border-top: none;
    width: 120px;
    color: #fff;
    padding: 5px 0px;
    margin: 0 auto;
    margin-top: 30px;
    font: 500 16px/2 "Nanum Gothic";
}
