<!--User-->
<script src="/user/js/main.js" type="text/javascript"></script>
<script src="/user/js/test.js" type="text/javascript"></script>
<script src="/user/js/join.js" type="text/javascript"></script>
<script src="/user/js/eyeicon.js" type="text/javascript"></script>
<script src="/user/js/logout.js" type="text/javascript"></script>
<script src="/user/js/login.js" type="text/javascript"></script>
<script src="/user/js/findPw.js" type="text/javascript"></script>
<script src="/user/js/changePw.js" type="text/javascript"></script>

<!--Admin-->
<script src="/admin/js/main.js" type="text/javascript"></script>
<script src="/admin/js/login.js" type="text/javascript"></script>
